#footer {
    background-color: $secondary-color;

    a {
        &:hover {
            text-decoration: underline;
        }
    }


}

.gdpr-modal {
    .modal-dialog {
        @media (min-width: map-get($breakpoints, md)) {
            max-width: 50vw;
        }
    }

    .modal-dialog-centered {
        @media (min-width: map-get($breakpoints, md)) {
            align-items: end !important;
        }
    }
}